@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  box-sizing: border-box;
  font-family: Caveat;
}

#imageList {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 7px;
  grid-row-gap: 10px;
  margin-top: 10px;
  background-color: rgb(181, 181, 181);
}

#nav {
  list-style-type: none;
  margin-top: -100px;
  margin-bottom: 100px;
  width: fit-content;
  font-size: 26px;
}

#logo {
  position: relative;
  left: 400px;
  border-radius: 50%;
}
